.inserted-text {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: var(--size-max-width);
  min-height: 200px;
  padding: 0 0 var(--size-gutter);
  position: relative;
}

.paypalQRCode {
  height: 300px;
  width: 300px;
}

.donation-link {
  text-decoration: underline;
  color: #0000ee;
}
